# Node modules
node_modules/

# Expo
.expo/
.expo-shared/

# Android/iOS build folders
android/
ios/

# Environment variables
.env

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Debug logs
*.log

# Expo artifacts
dist/
web-build/